<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <!--basicHttpBinding>
              <binding name="KBDAPI_docsSoap">
                <security mode="Transport">
                  <transport clientCredentialType="Basic">
                  </transport>
                </security>
              </binding>
            </basicHttpBinding-->          
        </bindings>
        <client>
            <endpoint address="http://89.109.33.138:1210/eda/KBDAPI_docs"
                binding="basicHttpBinding" bindingConfiguration="KBDAPI_docsSoap"
                contract="KbdapiService.KBDAPI_docsSoap" name="KBDAPI_docsSoap" />
        </client>
    </system.serviceModel>
</configuration>