<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="KBDAPI_docsSoap">
          <httpTransport />
          <textMessageEncoding />          
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="apiSoap" />
        <binding name="KBDAPI_docsSoap2">
          <security mode="None">
            <transport clientCredentialType="None"
                       proxyCredentialType="None"
                       realm=""></transport>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>      
      <endpoint address="http://89.109.33.138:1210/docs/api"
                binding="basicHttpBinding"
                bindingConfiguration="apiSoap"
                contract="SearchDocsService.apiSoap"
                name="apiSoap" />
      <endpoint address="http://89.109.33.138:1210/eda/KBDAPI_docs"
                binding="basicHttpBinding"
                contract="DocsSoapService.KBDAPI_docsSoap" 
                 />
    </client>
  </system.serviceModel>
</configuration>